<!doctype html>
<html lang="cs">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="styles/sidebar.css" rel="stylesheet">
    <link href="styles/atis.css" rel="stylesheet">
<!--
    <link rel="icon" href="img/favicon.ico">
    <link rel="icon" href="img/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="img/favicon-16x16.png" sizes="16x16" type="image/png">
  -->
    <title>LKBE ATIS generator</title>
  </head>
  <body>
    <div class="d-flex flex-column p-3 text-white bg-dark" style="width: 280px;">
      <span class="fs-4"><img id="logo" src="img/cloud-sun.svg" width="32" height="32">ATIS</span>
      <hr>
      <ul id="mainMenu" class="nav nav-pills flex-column mb-auto" role="tablist">
        <li class="nav-item" role="presentation">
          <button id="generatorTab" data-bs-target="#generator" class="nav-link active" data-bs-toggle="tab" type="button" role="tab">
          <img src="img/speech.svg" width="32" height="32">
            Generátor zprávy
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button id="recordTab" data-bs-target="#record" class="nav-link" data-bs-toggle="tab" type="button" role="tab">
          <img src="img/pencil.svg" width="32" height="32">
            Záznam služby
          </button>
        </li>
      </ul>
      <hr>
      <!--
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="Sidebars%20%C2%B7%20Bootstrap%20v5.0_soubory/mdo.jpg" alt="mdo" class="rounded-circle me-2" width="32" height="32">
          <strong>mdo</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>
    -->
    </div>

    <div class="b-example-divider"></div>

    <div id="mainContainer" class="tab-content d-flex flex-column">
      <div id="generator" class="tab-pane fade show active" role="tabpanel">
        <h2>Generátor zprávy</h2>
        <!-- Message generator tab-->
        <form class="messageGenerator">
          <div class="form-group">
            <label for="releaseTimeTextbox">Bene Radio traffic information</label>
            <input v-model="a.releaseTime" type="text" id="releaseTimeTextbox" class="form-control" style="width:4rem; display:inline;" placeholder="0000" maxlength="4">.
          </div>

          <div class="form-group">
            <label for="rwySelect">Runway in use</label>
            <select v-model="a.rwySelect" class="form-control" id="rwySelect">
              <option>06</option>
              <option>09</option>
              <option>24</option>
              <option>27</option>
            </select>,
            <select v-model="a.patternSelect" class="form-control" id="patternSelect">
              <option>left-hand</option>
              <option>right-hand</option>
            </select>
            <label for="patternSelect">pattern.</label>
          </div>

          <div class="form-group optional">
            <div class="form-check">
              <input v-model="a.takeoffCheckbox" class="form-check-input" type="checkbox" id="takeoffCheckbox">
            </div>
            <div v-bind:class="{ disabled: !a.takeoffCheckbox }" id="rwyTakeoffBlock" class="optional">
              <label for="rwyTakeoffSelect">For the first takeoff runway</label>
              <select v-model="a.rwyTakeoffSelect"
                      v-bind:class="{ disabled: !a.takeoffCheckbox }"
                      :disabled="a.takeoffCheckbox == 0"
                      id="rwyTakeoffSelect" class="form-control">
                <option>27L</option>
                <option>27R</option>
              </select>.
            </div>
          </div>

          <div class="form-group optional">
            <div class="form-check">
              <input v-model="a.glidersCheckbox" class="form-check-input" type="checkbox" id="glidersCheckbox">
            </div>
            <div v-bind:class="{ disabled: !a.glidersCheckbox }" id="rwyGlidersBlock" class="optional">
              <label for="rwyGlidersSelect">For the gliders runway</label>
              <select v-model="a.rwyGlidersSelect"
                      v-bind:class="{ disabled: !a.glidersCheckbox }"
                      :disabled="a.glidersCheckbox == 0"
                      class="form-control" id="rwyGlidersSelect">
                <option>09L</option>
                <option>27R</option>
                <option>06</option>
                <option>24</option>
              </select>,
              <select v-model="a.patternGlidersSelect"
                      v-bind:class="{ disabled: !a.glidersCheckbox }"
                      :disabled="a.glidersCheckbox == 0"
                      class="form-control" id="patternGlidersSelect">
                <option>left-hand</option>
                <option>right-hand</option>
              </select>
              <label for="patternGlidersSelect">pattern.</label>
            </div>
          </div>

          <div class="form-group">
            <label for="windDirectionTextbox">Wind</label>
            <input v-model="a.windDirection" type="text" id="windDirectionTextbox" class="form-control" style="width:4rem; display:inline;" placeholder="000" maxlength="3">
            <label for="windDirectionTextbox">degrees</label>
            <input v-model="a.windSpeed" type="text" id="windSpeedTextbox" class="form-control" style="width:3rem; display:inline;" placeholder="00" maxlength="2">
            <label for="windSpeedTextbox">knots.</label>
          </div>

          <div class="form-group optional">
            <div class="form-check">
              <input v-model="a.visibilityCheckbox" class="form-check-input" type="checkbox" id="visibilityCheckbox">
            </div>
            <div v-bind:class="{ disabled: !a.visibilityCheckbox }" id="visibilityBlock" class="optional">
              <label for="visibilityTextbox">Visibility </label>
              <input v-model="a.visibility"
                     v-bind:class="{ disabled: !a.visibilityCheckbox }"
                     :disabled="a.visibilityCheckbox == 0"type="text"
                     id="visibilityTextbox" class="form-control" style="width:4rem; display:inline;" placeholder="9999" maxlength="4"> meters.
            </div>
          </div>

          <label for="messageSuffix">Doplňující info, výstahy, apod.</label>
          <textarea v-model="a.messageSuffix" class="form-control" id="messageSuffix" rows="4" spellcheck="false"></textarea>
        </form>
        <!--<button id="generateMessage" onclick="a.generateMessage()" type="button" class="btn btn-primary">&#8681; Generovat zprávu &#8681;</button>-->
        <div class="text-center display-4">&#8681; &#8681; &#8681;</div>
        <form>
          <textarea class="form-control" id="messageTextarea" rows="10" spellcheck="false">{{ messageString }}</textarea>
        </form>
      </div>
      <div id="record" class="tab-pane fade" role="tabpanel">
        text 00000010
      </div>
    </div>

    <script src="node_modules/@popperjs/core/dist/umd/popper.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/atis.js"></script>
  </body>
</html>
