img#logo {
  margin-bottom: 20px;
  margin-right: 10px;
}

ul#mainMenu button {
  width: 100%;
  text-align: left;
  color:#fff;
}

ul#mainMenu button img {
  margin-right: 10px;
}

div#mainContainer {
  margin: 1rem;
}
