img#logo {
  margin-bottom: 20px;
  margin-right: 10px;
}

a#connectedIndicator {
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  color: black;
  display: block;
  width: 8rem;
  height: 2.5rem;
  margin: 0 auto;
  padding: 0;
  cursor: default;
}

a#connectedIndicator.pointer {
  cursor: pointer;
}

ul#mainMenu button {
  width: 100%;
  text-align: left;
  color:#fff;
}

ul#mainMenu button img {
  margin-right: 10px;
}

div#mainContainer {
  margin: 1rem;
}

form.messageGenerator {
  line-height: 2.5;
}

form.messageGenerator select
 {
  display: inline;
  width: auto;
}

form.messageGenerator div.form-group {
  margin-left: 30px;
}

form.messageGenerator div.optional {
  margin-left: 0;
}

form.messageGenerator div.optional #windGustBlock {
  margin-left: 14rem;
}

form.messageGenerator div.optional fieldset {
  display: inline;
}

form.messageGenerator div.optional .disabled {
  color: #aaa;
}

form.messageGenerator div.optional div {
  display: inline;
  padding-left: 0;
  padding-right: 5px;
}

form.messageGenerator div.optional input.form-check-input {
  float: none;
  margin-top: -0.3rem;
  margin-left: 0;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
